html * {
   font-family: Arial !important;
   font-size: 0.9rem;
   zoom: 0.97;  
   -moz-transform: scale(0.97);
}

button .create-input {
    background-color: #43A047 !important;
}

button .create-input:hover {
    background-color: #38853B !important;
}

.valuePane {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sdss-icon {
    width: 50%;
}