.selected-cell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 8px;
    padding: 8px 10px;
    margin-left: 4px;
    background-color: rgba(46, 125, 50, 0.15);
    color: #2e7d32;
    border-radius: 5px;
}

.result-presentation {
    background-color: rgba(0, 0, 0, 0.06);
    margin-left: -8px;
    margin-right: -8px;
}